[Unit]
Description=Reset Bootcount
After=network.target

[Service]
ExecStart=/etc/custom_scripts/reset_bootcount.sh
User=root
Type=oneshot

[Install]
WantedBy=multi-user.target

